
<!-- ======= Hero Section ======= -->
<style>
   
    #buttons{
        width: 200px;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
</style>
  <section class="middle " style=" height: 40; background-color: #e1f1e7; ">
   <div class="row">
       <div  class="col-md-1 "></div>
       
       <div class="col-md-1 "></div>
       <div class="col-md-1"></div>
       
       <div class="col-md-2 "> 
        <center style="margin-bottom: 5%;">
            <a id="buttons" class="btn btn-outline-success p-4 " href="{% url 'request_form' %}">Find Talent</a>
        </center>
       </div>
       <div class="col-md-1 bg-"></div>
       <div class="col-md-2 ">
        <center>
            <a id="buttons" class="btn btn-outline-success p-4 " href="{% url 'homepage' %}">Hire Talent</a>
        </center>
       </div>

    </div>
       
  </section>
  
  <!-- End Hero -->