
<!-- ======= Hero Section ======= -->
<style>
   
    #buttons{
        width: 200px;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
</style>
  <section class="middle " style=" height: 30vh; background-color: rgb(225, 241, 231); ">
    <div class="row" style="margin-top: -1%;">
        <div class="col-md-3"></div>
        <div class="col-md-3 mt-4 ">
            <a id="buttons" class="btn btn-outline-success p-4 offset-3 " href="{% url 'request_form' %}">Find Talent</a>
        </div>
        <!-- <div class="col-md-3 mt-4">
            <a id="buttons" class="btn btn-outline-success p-4 offset-3 " href="{% url 'homepage' %}">Hire Talent</a>
        </div> -->
        
        <div class="col-md-3"></div>
    </div>
    </div>
  </section>
  
  <!-- End Hero -->