<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="{% url 'landing_page' %}"><span >chi</span>-SQUARE</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="{% url 'landing_page' %}" class="active">Home</a></li>

        <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <!-- <li><a href="">Team</a></li> -->
            <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
          </ul>
        </li>
       
        <li class="dropdown"><a href="#"><span>Talents</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'admin_assistant' %}">Admin Assistant</a></li>
            <li><a href="{% url 'clerk_data_entry' %}">Clerical And Data Entry Personnel</a></li>
            <li><a href="{% url 'it_spacialist' %}">IT Specialist</a></li>
            <li><a href="{% url 'hospitality' %}">Hospitality</a></li>
            <li><a href="{% url 'hospitality_wait_staff' %}">Hospitality And Wait Staff</a></li>
            <li><a href="{% url 'customer_care' %}">Customer Care</a></li>
            
           
          </ul>
        </li>
       
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a  href="{% url 'contact' %}">Contact</a></li>  
        {% if user.is_authenticated and user.is_staff %}     
        <li><a class="text-primary" href="{% url 'user_profile' %}"> {{user.username}}-Profile</a></li>
        <li><a class="text-primary" href="{% url 'post_job' %}"> Post Job</a></li>
        <li><a class="text-danger" href="{% url 'logout' %}">Logout</a></li>
        {% elif user.is_authenticated and not user.is_staff %}
        <li><a class="text-primary" href="{% url 'user_profile' %}"> {{user.username}}-Profile</a></li>
        <!-- <li><a class="text-primary" href="{% url 'job_proposal' %}"> Make Job Proposal</a></li> -->
        <li><a class="text-danger" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="text-danger" href="{% url 'login' %}">Login</a></li>
        <li><a class="text-danger" href="{% url 'signup' %}">Register</a></li>
        {% endif %}

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <div class="header-social-links d-flex">
      <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
    </div>
  
  </div>

</header><!-- End Header -->

