{% extends "partials/base.html" %}  
{% load crispy_forms_tags %}

{% block title %} job request page {% endblock%}

{% block content %}
{% include 'partials/navbar.html'%}

<style>
    #container{
        margin-top: 10%;
    }
    #top{
        padding:2%;
    }
</style>

<div id="container" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div id="top" class=" bg-success text-white">
             Make Your Job Proposal Here
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{request_form|crispy}}
                        <input type="submit" class="btn btn-success" name="submit" value="Submit Job Request "><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}




