{% extends "partials/base.html" %}  
{% load crispy_forms_tags %}

{% block title %} Update Profile Page  {% endblock%}

{% block content %}
{% include 'partials/navbar.html'%}

<style>
    #container{
        margin-top: 10%;
    }
    #top{
        padding:2%;
    }
</style>
{% if user.is_staff %}
<div id="container" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div id="top" class=" bg-success text-white">
              Profile Update Form 
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_update_form | crispy }}
                        {{employer_profile_update_form | crispy}}
                        <input type="submit" class="btn btn-success" name="submit" value="Update Profile"><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}

<div id="container" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div id="top" class=" bg-success text-white">
               User  Profile Update Form
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_update_form | crispy }}
                        {{employee_profile_update_form | crispy}}
                        <input type="submit" class="btn btn-success" name="submit" value="Update Profile"><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}




